.breadcrumb .active{
    color: red !important;
}
.navbar .navbar-brand{
    background:url(../images/thi-logos.png) 0 -65px no-repeat;
    width:165px;
    height:60px;
    margin-top:-15px
}
.form-actions {
    border:none;
}
.centered {
    float: none;
    margin: 0 auto;
}
.row:before, .row:after {
<<<<<<< HEAD
    /*display: none;*/
}
=======
    display: none;
}
>>>>>>> bf69e51b61dc9e39620083d72ba23ed2f1aa7700
