.breadcrumb .active{
    color: red !important;
}
.navbar .navbar-brand{
    background:url(../images/thi-logos.png) 0 -65px no-repeat;
    width:165px;
    height:60px;
    margin-top:-15px
}
.form-actions {
    border:none;
}
