body {
	font-family: arial;
	font-size: 10pt;
}
table {
	font-size: 10pt;
	margin: 0 auto;
}
#border {
	border: 2px solid #CCC;
	background: #F1F1F1;
	padding: 15px;
	margin: 0 auto;
	width: 300px;
}