/* line 1, ../scss/main.scss */
.breadcrumb .active {
  color: red !important;
}

/* line 4, ../scss/main.scss */
.navbar .navbar-brand {
  background: url(../images/thi-logos.png) 0 -65px no-repeat;
  width: 165px;
  height: 60px;
  margin-top: -15px;
}

/* line 10, ../scss/main.scss */
.form-actions {
  border: none;
}

/* line 13, ../scss/main.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 17, ../scss/main.scss */
.row:before, .row:after {
  display: none;
}