/* line 2, ../scss/main.scss */
.breadcrumb .active {
  color: red !important;
}

/* line 5, ../scss/main.scss */
.navbar, .nav-list li.active:after {
  border: none;
}

/* line 8, ../scss/main.scss */
.navbar, .nav-list li.active a {
  background: #000;
  color: #fff;
}
/* line 11, ../scss/main.scss */
.navbar:hover, .nav-list li.active a:hover {
  color: #000;
}
/* line 14, ../scss/main.scss */
.navbar:after, .nav-list li.active a:after {
  border-right-color: #D1D1D1;
}

/* line 18, ../scss/main.scss */
.ace-nav li.light-blue > a {
  background: #CA4646;
  transition: background 1.5s;
}
/* line 21, ../scss/main.scss */
.ace-nav li.light-blue > a:hover {
  color: #fff;
  background-color: #7A7777;
}
/* line 25, ../scss/main.scss */
.ace-nav li.light-blue > a:hover i {
  color: #fff;
}

/* line 29, ../scss/main.scss */
.ace-nav > li.open.light-blue > a {
  background-color: #CA4646 !important;
  color: #fff !important;
}
/* line 32, ../scss/main.scss */
.ace-nav > li.open.light-blue > a i {
  color: #fff;
}

/*.ace-nav>li.light-blue>a:hover, .ace-nav>li.light-blue>a:focus{
    background-color: #000 !important;
}*/
/* line 39, ../scss/main.scss */
.menu-min .nav-list > li.active > a {
  color: #FFFFFF;
}

/*.menu-min .nav-list>li.focus>a {
    color: #FFFFFF;
}*/
/* line 45, ../scss/main.scss */
.menu-min .nav-list > li:hover > a {
  color: #000;
}

/* line 48, ../scss/main.scss */
.nav-list li a {
  background: #d1d1d1;
  color: #000;
}
/* line 51, ../scss/main.scss */
.nav-list li a:hover {
  color: grey;
}
/* line 53, ../scss/main.scss */
.nav-list li a:hover:before {
  background-color: #000;
}

/* line 58, ../scss/main.scss */
.nav-list > li > .submenu > li:first-child > a {
  color: #fff;
}

/* line 61, ../scss/main.scss */
.nav-list > li .submenu > li.active > a > [class*="icon-"]:first-child {
  color: #fff;
  background-color: #000;
}

/* line 65, ../scss/main.scss */
.navbar-brand {
  background: url(../images/thi-logos.png) 0 -65px no-repeat;
  width: 165px;
  height: 60px;
  margin-top: -15px;
}

/* line 71, ../scss/main.scss */
.form-logo {
  background: url(../images/thi-logos.png) 0 -65px no-repeat;
  width: 190px;
  height: 60px;
}

/* line 76, ../scss/main.scss */
.form-actions {
  border: none;
}

/* line 79, ../scss/main.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 83, ../scss/main.scss */
.row:before, .row:after {
  /*display: none;*/
  display: none;
}

/*.ace-nav li.light-blue a {
    background: #000;
}*/

#screenshot{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
  }

#sssss {
        padding:20px 0 20px 0;
}

.itemdiv {
padding-left: 140px;
}

#user-says {
  margin-top: 7px;
  position: absolute; 
  margin-left: -5px;
}


